Repository menloresearch/llama.cpp, pull requests merged in 2025-03, with the labels that each got.

#2 ci: add upstream sync
  .github/workflows/upstream-sync.yml
Labels: type: ci, devops

#1 chore: add CI templates
  .github/workflows/menlo-build.yml
  Makefile
Labels: devops

#15 ci: update upstream sync
  .github/workflows/upstream-sync.yml
Labels: devops

#17 ci: update tag upstream sync
  .github/workflows/upstream-sync.yml
Labels: type: ci, devops

#18 chore: add macos builds
  .github/workflows/menlo-build.yml
Labels: devops

#19 Sync master with upstream release b4932
  docs/backend/SYCL.md
  examples/server/public/index.html.gz
  examples/server/webui/src/components/ChatScreen.tsx
  examples/server/webui/src/utils/llama-vscode.ts
  ggml/src/ggml-sycl/CMakeLists.txt
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/gemm.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: SYCL, examples, ggml, documentation, server

#20 ci: update tag upstream sync
  .github/workflows/upstream-sync.yml
Labels: devops

#21 chore: change flag builds for macos
  .github/workflows/menlo-build.yml
Labels: devops

#24 Sync master with upstream release b4944
  docs/install.md
  examples/server/server.cpp
  examples/tts/tts.cpp
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq2_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq3_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_nc.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_p021.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-model.cpp
  tests/test-backend-ops.cpp
Labels: Nvidia GPU, Vulkan, testing, examples, python, ggml, documentation, server

#25 ci: tag commit after sync on dev branch
  .github/workflows/upstream-sync.yml
Labels: devops

#27 chore: fix typo in cuda package
  .github/workflows/menlo-build.yml
Labels: devops

#28 Sync master with upstream release b4951
  ci/run.sh
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  docs/backend/CUDA-FEDORA.md
  docs/build.md
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec.comp
  include/llama.h
  src/llama-mmap.cpp
  src/llama-vocab.cpp
  tests/test-backend-ops.cpp
Labels: devops, Nvidia GPU, Vulkan, testing, python, ggml, documentation

#30 Sync master with upstream release b4958
  ci/README.md
  ci/run.sh
  docs/build.md
  examples/run/run.cpp
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/kleidiai/kernels.cpp
  ggml/src/ggml-cpu/kleidiai/kernels.h
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  src/llama-context.cpp
Labels: devops, SYCL, examples, ggml, documentation

#31 Sync master with upstream release b4966
  ci/README.md
  common/CMakeLists.txt
  common/llguidance.cpp
  convert_hf_to_gguf.py
  docs/build.md
  examples/llava/clip.cpp
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/vendors/hip.h
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  tests/test-grammar-llguidance.cpp
Labels: devops, Apple Metal, Nvidia GPU, testing, examples, python, ggml, documentation

#32 chore: update ci create tag on dev branch
  .github/workflows/upstream-sync.yml
Labels: devops

#33 Sync master with upstream release b4980
  common/arg.cpp
  convert_hf_to_gguf.py
  examples/server/httplib.h
  examples/server/server.cpp
  ggml/CMakeLists.txt
  ggml/cmake/GitVars.cmake
  ggml/cmake/ggml-config.cmake.in
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
  ggml/src/ggml-impl.h
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/ggml-opencl.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_im2col.cl
  ggml/src/ggml-sycl/ggml-sycl.cpp
  gguf-py/gguf/constants.py
  media/llama1-logo.svg
  scripts/sync-ggml-am.sh
  scripts/sync-ggml.last
  scripts/sync-ggml.sh
  src/llama-adapter.cpp
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-model.h
Labels: SYCL, examples, python, ggml, documentation, server, script

#34 chore: update upstream sync ci
  .github/workflows/upstream-sync.yml
Labels: devops

#35 Sync master with upstream release b4988
  common/sampling.cpp
  examples/rpc/CMakeLists.txt
  examples/rpc/README.md
  examples/rpc/rpc-server.cpp
  examples/server/server.cpp
  ggml/include/ggml-rpc.h
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml-rpc/ggml-rpc.cpp
  ggml/src/ggml-vulkan/CMakeLists.txt
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/CMakeLists.txt
  ggml/src/ggml.c
  include/llama.h
  src/llama-context.cpp
  src/llama-model.cpp
  src/llama-sampling.cpp
  tests/test-backend-ops.cpp
Labels: Apple Metal, Nvidia GPU, Vulkan, testing, examples, ggml, server

#37 Sync master with upstream release b5002
  README.md
  ci/README.md
  ci/run.sh
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cann/.clang-format
  ggml/src/ggml-common.h
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/binary-ops.cpp
  ggml/src/ggml-cpu/binary-ops.h
  ggml/src/ggml-cpu/common.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/unary-ops.cpp
  ggml/src/ggml-cpu/unary-ops.h
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/concat.cu
  ggml/src/ggml-cuda/conv-transpose-1d.cu
  ggml/src/ggml-cuda/convert.cu
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/mma.cuh
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmv.cu
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/pad.cu
  ggml/src/ggml-cuda/upscale.cu
  ggml/src/ggml-metal/ggml-metal.metal
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  scripts/sync-ggml.last
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-chat.cpp
  src/llama-chat.h
  src/llama-context.cpp
  src/llama-graph.cpp
  src/llama-model.cpp
  src/llama-model.h
  src/llama-vocab.cpp
  tests/test-chat-template.cpp
Labels: devops, Apple Metal, Nvidia GPU, testing, python, ggml, script
